@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Boldonse", sans-serif;
}

body {
  line-height: 1.6;
  background-color: #002511;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  z-index: -1; 
}

.navBar {
  background: black;
  padding: 2rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.navBar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.navBar li {
  display: inline-block;
}

.navBar a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5rem 0.75rem;
  transition: color 0.3s ease;
  font-family: 'Boldonse', sans-serif;
}

.navBar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width 0.3s ease;
}

.navBar a:hover::after {
  width: 100%;
}

main {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

/* =========================
   Large Tablets (≤1200px)
========================= */
@media (max-width: 1200px) {
  .navBar a {
    font-size: 1.6rem;
  }

  main {
    margin: 1.5rem;
  }
}


/* =========================
   Tablets (≤992px)
========================= */
@media (max-width: 992px) {
  .navBar {
    padding: 1.5rem 1.5rem;
  }

  .navBar ul {
    gap: 1rem;
  }

  .navBar a {
    font-size: 1.3rem;
  }

  main {
    padding: 1.25rem;
  }
}


/* =========================
   Mobile (≤768px)
========================= */
@media (max-width: 768px) {

  .navBar ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    gap: 1rem;
    text-align: center;
  }
  
   /* Make last item full width if odd number */
  .navBar li:last-child:nth-child(odd) {
    grid-column: 1 / -1;
  }

  .navBar a {
    font-size: 1.2rem;
  }

  .navBar a::after {
    height: 4px; /* slightly thinner underline */
  }

  main {
    margin: 1rem;
    padding: 1rem;
  }
}



/* =========================
   Small Mobile (≤480px)
========================= */
@media (max-width: 480px) {
  .navBar {
    padding: 1rem;
  }

  .navBar a {
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
  }

  main {
    border-radius: 6px;
  }
}
