@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.container {
  padding: 8rem 1rem;
  box-sizing: border-box;
}

.tickets {
  width: 100%;
  max-width: 1100px;

  padding: 4rem 6%;
  margin: 2rem auto;

  text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1.5rem;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Boldonse', sans-serif;
}

.description {
  font-size: 2rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 1rem auto;
  color: black;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

.link {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.8rem 1.8rem;

  background-color: #002511;
  color: white;
  font-family: 'Boldonse', sans-serif;
  text-decoration: none;
  border-radius: 0.5rem;

  font-size: 3rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.link:hover {
  background-color: white;
  color: #002511;
  transform: translateY(-2px);
}

/* =========================
   Large Tablets (≤1200px)
========================= */
@media (max-width: 1200px) {
  .tickets {
    padding: 3rem 5%;
  }

  .description {
    font-size: 1.8rem;
  }
}


/* =========================
   Tablets (≤992px)
========================= */
@media (max-width: 992px) {
  .tickets {
    padding: 2.5rem 5%;
  }

  .title {
    font-size: 2.2rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .link {
    font-size: 1.3rem;
    padding: 0.7rem 1.5rem;
  }
}


/* =========================
   Mobile (≤768px)
========================= */
@media (max-width: 768px) {
  .container {
    padding: 1rem 1rem 2rem 1rem;
  }

  .tickets {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .link {
    font-size: 2rem;
    padding: 0.6rem 1.2rem;
  }
}


/* =========================
   Small Mobile (≤480px)
========================= */
@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .link {
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
}
