@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  font-family: 'Boldonse', sans-serif;
  font-size: 3rem;
}

.name {
  margin: 0.5rem 0;
  font-size: 2.5rem;
  color: white;
  font-family: 'Boldonse', sans-serif;
}

.container {
    padding: 8rem 0rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.card {
  border-radius: 1rem;
  padding: 1.5rem;
  flex: 0 0 auto;
}

.card:nth-child(1),
.card:nth-child(2) {
  flex: 0 0 35%;
}

.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5) {
  flex: 0 0 30%;
}


.card img {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  width: 80%;
}

.description {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}

/* =========================
   Large Tablets (≤1200px)
========================= */
@media (max-width: 1200px) {
  .card {
    width: 500px;
  }

  .title {
    font-size: 2.6rem;
  }

  .name {
    font-size: 2.2rem;
  }

  .description {
    font-size: 1.3rem;
  }
}


/* =========================
   Tablets (≤992px)
========================= */
@media (max-width: 992px) {
  .card {
    width: 80%;
  }

  .title {
    font-size: 2.2rem;
  }

  .name {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.2rem;
  }
}


/* =========================
   Mobile (≤768px)
========================= */
@media (max-width: 768px) {
  .container {
    padding-top: 4rem;
    padding-bottom: 0rem;
  }

  .cardContainer {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .card {
    width: 100%;
    padding: 1.2rem;
  }

  .card img {
    width: 70%;
  }

  .title {
    font-size: 1.8rem;
  }

  .name {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.1rem;
  }
}


/* =========================
   Small Mobile (≤480px)
========================= */
@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .name {
    font-size: 1.3rem;
  }

  .description {
    font-size: 1rem;
  }

  .card img {
    width: 85%;
  }
}
